body,html{
margin: 0;
padding: 0;
}
#root{
    height: 100vh;
}
img{
    width: 25px;
}
header{
    display: flex;
    min-width: 100vw;
    justify-content: space-between;
    align-items: center;
    
    height: 9vh;
}
ul,li,a{
    list-style: none;
    text-decoration: none;
    color: white;
}
ul{
    display: flex;
    gap: 100px;
}
main{
    min-width: 100vw;
    height: 91dvh;
    display: flex;
    flex-wrap: wrap;
}
.witch{
position: relative;
width: 100vw;
height: 89.90dvh;
}
.text{
    display: flex;
    width: 100vw;
    justify-content: center;
}
.items{

max-width: 350px;
height: 250px;
border-radius: 8px;
border: 2px solid indigo;

}
.allItems{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 91vh;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.products{
  
    width: 70%;
    height: 150px;
}
@media only screen and (max-width: 600px) {
    .allItems {
      display: flex;
      flex-wrap: wrap;
      width: 100vw;
    }
    
  }
  .price{
    display: flex;
    gap: 100px;
    align-items: center;
    
  }
  button{
    align-self: center;
    align-items: center;
  }
  input{
    width: 50px;
    height: 25px;
    border: 1px solid indigo;
    border-radius: 10px;
    text-align: center;
  }
  .cart{
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .button{
    background-color: lightblue;
    display: flex;
    align-items: center;
  }
  .sidebar{
    width: 20vw;
    height: 100dvh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: wheat;
  }
  #root{
    position: relative;
  }
  li:hover{
   border-bottom: 1.5px solid white;
  }
 .about{
  height: 91dvh;
  
 }
 img{
  fill: white;
 }
 .imgs{
  display: flex;
  justify-content: center;
 }