body,html{
margin: 0;
padding: 0;
}
#root{
    height: 100vh;
}
img{
    width: 25px;
}
header{
    display: flex;
    min-width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    height: 9vh;
}
ul,li{
    list-style: none;
    text-decoration: none;
}
ul{
    display: flex;
    gap: 100px;
}
main{
    min-width: 100vw;
    height: 91dvh;
    display: flex;
    background: url(./assets/witcher.jpeg);
    background-size: cover;
    
}
.witch{
position: relative;
width: 100vw;
height: 89.90dvh;
}
.text{
    display: flex;
    width: 100vw;
    justify-content: center;
}